body {
  font-family: "Open Sans", sans-serif;
  color: #333333;
  display: flex;
  flex-direction: column;
  font-family: Arial;
  max-width: 60%;
  margin: 0 auto;
  padding: 0 16px;
  min-height: 100vh;
}
